body { 
    text-align: left; 
}

.container { 
    max-width: 100%; 
    margin: 0 auto; 
    padding: 10px; 
    box-sizing: border-box; 
    position: relative; 
}

h1 { 
    font-family: 'Roboto', sans-serif; 
    text-align: left; 
    font-size: 3em; /* 3 times the size of the parent element's font size */
}

h2 { 
    font-family: 'Roboto', sans-serif; 
    text-align: left; 
    font-size: 2em; /* 2 times the size of the parent element's font size */
}

body {
    font-family: 'Roboto', sans-serif; 
    text-align: left; 
    font-size: 1em; /* Normal text size, same as the parent element's font size */
}

.content {
    text-align: left;
}

.specific-content {
    margin-top: 50px;
    background-color: #ddd;
    color: black;
}

.content .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: 0.9em;
    color: #555;
}

select option {
    width: auto;
}
.error { border: 2px solid red; }

.top-bar {
    background-color: #3b5c99;
    overflow: hidden;
}

.top-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white; /* Add horizontal lines between links */
}

.top-bar a:last-child {
    border-right: none; /* Remove the border from the last link */
}

.top-bar a:hover {
    background-color: #555; /* Change background color on hover */
    color: white; /* Ensure text color remains white on hover */
}

table { 
    width: 100%; border-collapse: collapse; margin-bottom: 20px; 
}
th, td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
    font-family: 'Roboto', sans-serif; 
}

th { background-color: #f2f2f2; }

tr:nth-child(even) { 
    background-color: #f9f9f9; 
}

tr:hover { 
    background-color: #f1f1f1; 
}

input, select { 
    width: 100%; 
    box-sizing: border-box; 
}

button { 
    padding: 5px 10px; 
    margin-top: 10px; 
}

select {
    width: 100%;
}

select {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label {
    margin-right: 10px;
}

.remove-button {
    cursor: pointer;
    color: red;
}

.edit-button {
    cursor: pointer;
    color: blue;
}

.corrected-name-container {
    display: flex;
    align-items: center;
}

.corrected-name-container span {
    flex-grow: 1;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.separator {
    border-top: 3px solid black;
    margin: 20px 0;
}

.right-align-container {
    text-align: right;
}

.generate-csv-button { 
    margin-top: 10px; 
}

.csv-name-input { 
    margin-top: 10px; 
    width: 120px; 
}